.footer {
    display: block;
    clear: both;
    background-color: #227799;
    padding: 0 0 2.5rem 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.intagram_img {
    padding-top: 3%;
}